<!DOCTYPE html>
<html>
<head>
  <title>Fakestagram</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1 class='fake'>Fakestagram</h1>
    <nav>
      <ul>
        <li class='nav-link'><%= link_to('All Posts', posts_url) %></li>

        <li class='nav-link'><%= link_to('Users', users_url) %></li>
        <li class='nav-link'><%= link_to('New Post', new_post_url) %></li>
        <% if user_signed_in? %>
          <li class='nav-link'><%= current_user.email %></li>
          <li class='nav-link'><%= link_to('Sign Out', destroy_user_session_url, method: :delete) %></li>
        <% else %>
          <li class='nav-link'>You are not signed in</li>
          <li class='nav-link'><%= link_to('Sign In', new_user_session_url) %></li>
        <% end %>
      </ul>
    </nav>
  </header>
  <div class="flash-message"><%= flash[:info] %></div>

  <%= yield %>
</body>
</html>
